main>.grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 9rem auto;

}
header>h1{
    font-size: 3rem;
    font-family: "Marvel";
    color: black;
    line-height: 6rem;
    padding: 1rem;
    text-align: center;
    max-width: 60rem;
    margin: 1rem auto;
}
fieldset{
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    display: block;
    margin: 0 auto 1rem;
    max-width: 90%;
    height: auto;
}

main>h2{
    text-align: center;
    font-weight: 500;
    padding: 1rem;
    font-family: sans-serif;
}
fieldset>legend{
    display: none;
    font-family: sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

fieldset>form>input{
    display:block ;
    font-size: 1.4rem;
    padding: 2rem;
    border-radius: .4rem;
    border: .05rem solid #000000;
    background-color: var(--white-color);
    padding: 1rem;
    width: 100%;
    margin: 0 auto 2rem;
    height: 5rem;

}
fieldset>form>select{
    display:block ;
    padding: 2rem;
    border-radius: .4rem;
    background-color: rgba(255, 255, 255, 0.39);
    padding: 1rem;
    width: 100%;
    margin: 0 auto 2rem;
    height: 5rem;
    border: .05rem solid var(--black-color);
}
fieldset>form>input[type="submit"]{
    display: block;
    margin-top: 1rem;
    font-size: 1.7rem;
}

fieldset>form>label{
    font-size: 1.6rem;
    font-family: sans-serif;
    padding: 3rem;
    line-height: 3rem;
    text-align: center;

}

main>button{
    background-color: var(--white-color);
}
.footer>p{
    font-size: 2rem;
    font-family: sans-serif;

}

@media screen and (max-width: 90rem) {
    main>.grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 9rem auto;
    
    }
   
    fieldset>form>input[type="submit"]{
        display: block;
        margin-top: 1rem;
        font-size: 1.3rem;
    }
    main>.button_form{
        font-size: 1rem;

        display: none;
    }
}