header img{
    position: absolute;
    height: 15rem;
    max-width:15rem;
    top: -1rem;
    left: 1rem;

}

main{
    display: block;
    width: 100%;
   }

header h1 span{
   color:rgb( 126,83,251);
}
header ul li a img{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    width: 3.5rem;
    height:3.5rem;
}
header ul li:last-child a img{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);
    width: 3rem;
    height:3rem;
}
header ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: absolute;
    width: 20rem;
    top: 1rem;
    right: 1rem;
    border-radius: 5rem;
    height: 5rem;
    background-color:rgb( 126,83,251)    ;
}
main ul li{
    position: relative;
}

 main ul li:hover div{
    position: absolute;
    box-shadow: rgba(126,83,251, 0.1) 0px 1px 1px 0px inset, rgba(126,83,251, 0.25) 0px 50px 100px -20px, rgba(126,83,251, 0.3) 0px 30px 60px -30px;
    transition: all .3s;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    visibility: visible;
    background-color: rgba(255, 255, 255, 0.596);
    transition: all .3s;

}

main ul li div button{
    font-family: Montserrat;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 2rem;
    color: white;
    width: 13rem;
    border-radius: 1rem;
    background-color:rgb( 126,83,251) ;
}

main ul li div button:last-child{
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
    padding: 2rem;
    color: rgb(0, 0, 0);
    width: 13rem;
    border-radius: 1rem;
    background-color:rgb(255, 255, 255) ;
}
main ul li div{

    position: absolute;
    width: 10%;
    height: 10%;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
}
header h1{
    text-transform: uppercase;
    margin-top: 3rem;
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
}


section h2{ 
    margin-top: 5rem;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}




section p{
    max-width: 80%;
    margin :0 auto;
    font-size: 2.3rem;
    padding: 2rem;
    font-weight: 400;
    text-align: center;
}


main>ul{
    max-width:100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

ul>li{
    padding: 1rem;
    list-style: none;
    transition: all .3s;

}

ul>li>img{
    position: relative;
    transition: all .3s;
    cursor: pointer;
}

ul>li>img:hover{
  /*  transform: scale(1.05);
    box-shadow: rgba(126,83,251, 0.1) 0px 1px 1px 0px inset, rgba(126,83,251, 0.25) 0px 50px 100px -20px, rgba(126,83,251, 0.3) 0px 30px 60px -30px;
    transition: all .3s;*/
}


.newsletter_button{
    display: block;
    font-family: Montserrat;
    cursor: pointer;
    margin: 0 auto;
    padding: 2rem;
    color: white;
    font-size: 2rem;
    max-width: 40rem;
    border-radius: 3rem;
    background-color:rgb( 126,83,251) ;
}

div>.form_hidden{
    transition: all .3s;

    opacity: 0;
    visibility: hidden;
    position: relative;
    display: block;
    margin: 1rem auto;
    max-width: 0rem;
    height: 4rem;
    background-color: white;
    box-shadow: rgba(126,83,251, 0.1) 0px 1px 1px 0px inset, rgba(126,83,251, 0.25) 0px 50px 100px -20px, rgba(126,83,251, 0.3) 0px 30px 60px -30px;


}
div>.form_shown{
    border-radius: .8rem;
    transition: all .3s;
    opacity: 1;
    visibility: visible;
    position: relative;
    display: block;
    margin: 1rem auto;
    max-width: 50rem;
    height: 24rem;
    background-color: white;
    box-shadow: rgba(126,83,251, 0.1) 0px 1px 1px 0px inset, rgba(126,83,251, 0.25) 0px 50px 100px -20px, rgba(126,83,251, 0.3) 0px 30px 60px -30px;


}

div>form>*{
    display: block;
    width: 90%;
    margin: 1rem auto 1rem;
    padding: 1.5rem;


}


div>form>input::placeholder{
    font-size: 1.5rem;
    font-family: Montserrat;
}
div>form>input:last-child{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Montserrat;
    cursor: pointer;
    padding: 2rem;
    color: white;
    font-size: 1.5rem;
    max-width: 40rem;
    border-radius: .7rem;
    background-color:rgb( 126,83,251) ;

}
footer p{
    text-align: center;
}


@media screen and (max-width:1000px){
    
    header h1{
        text-transform: uppercase;
        margin-top: 3rem;
        font-size: 2.5rem;
        font-weight: 900;
        text-align: center;
    }

    main>ul{
        max-width: 100%;
        margin:2rem auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    section h2{ 
        margin-top: 5rem;
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
    }
    section p{

        max-width: 90%;
        margin :0 auto;
        font-size: 1.8rem;
        padding: 2rem;
        font-weight: 400;
        text-align: justify;
    }
    
    
.newsletter_button{
    display: block;
    font-family: Montserrat;
    cursor: pointer;
    margin: 0 auto;
    padding: 2rem;
    color: white;
    font-size: 1.5rem;
    max-width: 40rem;
    border-radius: 3rem;
    background-color:rgb( 126,83,251) ;
}

main ul li div button{
    font-size: .8rem;
    font-family: Montserrat;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem;
    color: white;
    width: 9rem;
    font-weight: 600;
    border-radius: 1rem;
    background-color:rgb( 126,83,251) ;
}

main ul li div button:last-child{
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
    padding: 1rem;
    color: rgb(0, 0, 0);
    width: 9rem;
    border-radius: 1rem;
    background-color:rgb(255, 255, 255) ;
}
div>form>input:last-child{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Montserrat;
    cursor: pointer;
    padding: 2rem;
    color: white;
    font-size: 1.5rem;
    max-width: 40rem;
    border-radius: .7rem;
    background-color:rgb( 126,83,251) ;

}
}

