header>h1{
    font-family: "Marvel";
    color: black;
    line-height: 6rem;
    padding: 1rem;
    text-align: center;
    max-width: 60rem;
    margin: 1rem auto;
}

header>.mobile{
 display: none;

}

.switch_dc_comics>.span_swicth{
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 100%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 85%;
    transition: all .3s;

}
.switch_anim{
    transition: all .3s;
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    right: -200rem;
    width: 100%;
    z-index: 3;
    background-color: white;
    height: 100vh;
}
.switch_anim_show{
    transition: all .3s;
    position: fixed;
    top: 0;
    opacity: 1;
    visibility: visible;
    left: 0rem;
    width: 100%;
    z-index: 3;
    background-color: white;
    height: 100vh;
}
.switch_anim_show>h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "Marvel";
    font-size: 3rem;

}
.logo_changing{
   
    width: 30rem;
}
.lds-dual-ring {
    display: none;
    width: 8rem;
    height: 8rem;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 6.4rem;
    height: 6.4rem;;
    margin: .8rem;
    border-radius: 50%;
    border: .6rem solid rgb(0, 0, 0);
    border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

.switch_anim_show>img{

    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    display: block;
    width: 20rem;
    height: 20rem;
}
.switch_dc_comics>.span_swicth_right,.switch_dc_comics_on>.span_swicth_right{
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 100%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 15%;
    transition: all .3s;
}

.switch_dc_comics{
    transition: all .3s;
    border-radius: 2rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 12rem;
    height: 4rem;
    background-color: red;
}
.switch_dc_comics_on{
     transition: all .3s;
    border-radius: 2rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 12rem;
    height: 4rem;
    background-color: rgb(88,143,224);
}
.body_grayscale{
    background: rgb(88,143,224);

    background: linear-gradient(0deg, rgba(88,143,224,1) 0%, rgba(255,255,255,1) 90%);}
header>.desk{
    display: block;
    position: absolute;
    top: 3.5rem;
    left: 4rem;
    max-width: 20rem;
    height:19rem;
}

main>section>h2{
    text-transform: uppercase;
    font-family: "Marvel";
    text-align: center;
    padding: 1rem;
    font-weight: 500;
    font-size: 3rem;
}

main>section>p{
    text-align: justify;
    max-width: 90rem;
    padding: 5rem;
    font-size: 1.7rem;
    margin: 0 auto;
}
.grid{
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    background-color: black;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 1rem;
    max-width: 90%;
    margin: 1rem auto;
}
.grid>li>img{
    cursor: pointer;
    transition: all .3s;

}
.grid>li>img:hover{
    transform: scale(1.2);
    transition: all .3s;
}


main>button{
    cursor: pointer;
    display: block;
    border: none;
    font-size: 2rem;
    padding: 2rem;
    margin: 0 auto;
    max-width: 50%;
    background-color: aliceblue;
    border: .1rem solid black;
    transition: all .3s;
    border-radius: .6rem;

}
main>button:hover{
    background-color: rgb(221, 51, 42);
    transition: all .3s;
    color: white;
}

footer>p{text-align: center;padding: 1rem;}


@media screen and (max-width: 90rem) {
    .switch_anim_show>h2>.bullet{
        text-align: center;
    }
    .switch_anim_show>h2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: "Marvel";
        font-size: 2rem;
        white-space: nowrap;
    
    }
    body{
        height: 100vh;
    }
    .switch_dc_comics{
        transform: rotate(90deg);
        top: 6rem;
        right: 0rem;
    }
    header>.mobile{
        display: block;
        margin: 0 auto;
        max-width: 20rem;
        position: relative;
       
       }   
       header>.desk{ 
        display: none;
        
       }
     
       section>.grid{
        box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    background-color: black;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1rem;
        max-width: 90%;
        margin: 1rem auto;
    }
    .grid>li:last-child{
        width: 200%;
        display: block;
    }
}