header>h1{
    font-family: "Marvel";
    color: black;
    line-height: 6rem;
    padding: 1rem;
    text-align: center;
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 3rem;
}

header>.mobile{
 display: none;

}
.grid>li,.grid_2>li{
    position: relative;
}


.switch_dc_comics>.span_swicth{
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: var(--white-color);
    border-radius: 100%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 85%;
    transition: all .3s;

}
.switch_anim{
    display: none;
    transition: all .3s;
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    right: -200rem;
    width: 100%;
    z-index: 3;
    background-color: var(--white-color);
    height: 100vh;
}
.switch_anim_show{
    transition: all .3s;
    position: fixed;
    top: 0;
    opacity: 1;
    visibility: visible;
    left: 0rem;
    width: 100%;
    z-index: 3;
    background-color: var(--white-color);
    height: 100vh;
}
.switch_anim_show>h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "Marvel";
    font-size: 3rem;

}
.logo_changing{
   
    width: 30rem;
}


.switch_anim_show>img{

    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    display: block;
    width: 20rem;
    height: 20rem;
}
.switch_dc_comics>.span_swicth_right,.switch_dc_comics_on>.span_swicth_right{
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: var(--white-color);
    border-radius: 100%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 15%;
    transition: all .3s;
}

.switch_dc_comics{
    transition: all .3s;
    border-radius: 2rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 12rem;
    height: 4rem;
    background-color:var(--red-color);
}
.switch_dc_comics_on{
     transition: all .3s;
    border-radius: 2rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 12rem;
    height: 4rem;
    background-color: var(--blue-color);
}

header>.desk{
    display: block;
    position: absolute;
    top: 3.5rem;
    left: 4rem;
    max-width: 20rem;
    height:19rem;
}
main{
    position: relative;
}

main>section>h2{
    text-transform: uppercase;
    font-family: "Marvel";
    text-align: center;
    padding: 1rem;
    font-weight: 500;
    font-size: 3rem;
}

main>section>p{
    line-height: 2rem;
    text-align: justify;
    max-width: 90rem;
    padding: 5rem;
    font-size: 1.7rem;
    margin: 0 auto;
    font-family: sans-serif;
}
.grid,.grid_2{
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    background-color: black;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 1rem;
    max-width: 90%;
    margin: 1rem auto;
}
.grid>li>img,.grid_2>li>img{
    cursor: pointer;
    transition: all .3s;

}
/*
.grid>li>div:hover ul>li:first-child{
    position: absolute;
    width: 100%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 90%;

}
.grid>li>div>ul>li:first-child{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 110%;
    width: 100%;

}*/
.grid>li>div:hover ul,.grid_2>li>div:hover ul{

    opacity: 1;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    transition: all .3s;
}
.grid>li>div>ul>li>a:hover,.grid_2>li>div>ul>li>a:hover{
    transform: scale(1.1);
    border-radius: .3rem;
    background-color: rgb(0, 0, 0);
    color: white;
    transition: all .3s;
}
.grid>li>div:hover{
    position: absolute;
    top: 0;
    transition: all .3s;

    height: 100%;
    width: 100%;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(195,43,43,0.6041010154061625) 23%, rgba(246,54,54,0) 66%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(195,43,43,0.6041010154061625) 23%, rgba(246,54,54,0) 66%);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(195,43,43,0.6041010154061625) 23%, rgba(246,54,54,0) 66%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#f63636",GradientType=1);
}
.grid>li:hover div>button{
    position: absolute;
    top: 89%;
    transform: translate(-50%,-50%);
    width: 100%;
    transition: all .3s;
    visibility: visible;
    opacity: 1;

    
}
.grid>li:hover div>button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: all .3s;
}

.grid_2>li>div:hover{
    position: absolute;
    top: 0;
    transition: all .3s;

    height: 100%;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(44,159,149,0.5984768907563025) 22%, rgba(0,212,255,0.10547969187675066) 100%);}
.grid>li>div,.grid_2>li>div{
    transition: all .3s;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(222, 224, 54, 0);
}
/*
.grid>li>div>ul>li:first-child{
    opacity: 0;
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: -50%;
    transition: all .3s;
}
.grid>li>div>ul>li:last-child{
    opacity: 0;
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    transition: all .3s;
}*/
.grid>li>div>ul,.grid_2>li>div>ul{
    opacity: 0;
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 100%;
    left: 50%;
    transition: all .3s;
}
.grid>li>div>ul>li>a,.grid_2>li>div>ul>li>a{
    padding: .6rem;
    transition: all .3s;

    border-radius: .3rem;
    background-color: rgb(255, 255, 255);
}
main>.button_form,main>.button_form_dc{
    cursor: pointer;
    display: block;
    border: none;
    font-size: 2rem;
    padding: 2rem;
    margin: 0 auto;
    max-width: 50%;
    border: .1rem solid rgb(0, 0, 0);
    transition: all .3s;
    border-radius: .6rem;

}
main>.button_form:hover{
    background-color: rgb(221, 51, 42);
    transition: all .3s;
    color: white;
}

main>.button_form_dc:hover{
    background-color: var(--blue-color);
    transition: all .3s;
    color: white;
}


footer>p{text-align: center;padding: 1rem;font-size: 2rem;font-family: sans-serif;}


@media screen and (max-width: 90rem) {
    .switch_anim_show>h2>.bullet{
        text-align: center;
    }
    .switch_anim_show>h2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: "Marvel";
        font-size: 2rem;
        white-space: nowrap;
    
    }
    body{
        height: 100vh;
    }
    .switch_dc_comics{
        position: absolute;
        transform: rotate(90deg);
        top: -22rem;
        right: -4rem;
    }
    header>.mobile{
        display: block;
        margin: 0 auto;
        max-width: 20rem;
        position: relative;
       
       }   
       header>.desk{ 
        display: none;
        
       }
     
       section>.grid,section>.grid_2{
        box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    background-color: black;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1rem;
        max-width: 90%;
        margin: 1rem auto;
    }
    .grid>li:last-child,.grid_2>li:last-child{
        width: 200%;
        display: block;
    }
}


@media screen and (max-width: 70rem) {


    .grid>li>div:hover ul,.grid_2>li>div:hover ul{

        opacity: 1;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        transition: all .3s;
    }
    .grid>li>div>ul>li>a{
        font-size: .8rem;
    }
    .grid>li>div>ul>li>a:hover,.grid_2>li>div>ul>li>a:hover{
        transform: scale(1.1);
        border-radius: .3rem;
        background-color: rgb(0, 0, 0);
        color: white;
        transition: all .3s;
    }

}

/* modale */
.parent-modale{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    z-index: -1;
    transition: all 0.4s ease-in-out;
}
.parent-modale .modale{
    max-width: 40vh;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0,0,0,0.6);
    z-index: 2;
    cursor: pointer;
    
    
}
.show_opacity>button{
    transition: all .3s;
    position: absolute;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    top: 87%;
    color: rgb(0, 0, 0);
    width: 50%;
    height: auto;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%,-50%);

}
.parent-modale .modale .desc{
    position: static;
    transition: none;
    background-color: #fff;
    color: #222;
    
}
.modale-active{
    z-index: 1;
    opacity: 1;
    transform-origin: center center;
}
.parent-modale .modale .desc h3{
    font-size: x-large;
    font-weight: 400;
    background-color: #222;
    color: #fff;
    padding: 1rem;
}
.parent-modale .modale .desc p :is(time){
    padding: 1rem;
}
.parent-modale .modale button{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    z-index: 2;
    color: #333;
    cursor: pointer;
}