@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bellota+Text:wght@300&family=Montserrat:wght@100;400;600;900&display=swap');
html{
    scroll-behavior: smooth;


    font-size: 62.5%; 
/* 16px * 62,5 10.00rem */
}

.body{
    background:#eeeded;
    transition: all .3s;

    background-image: url(../assets/WallpaperDog-248128.jpg);    
    background-size: cover;
    background-repeat: no-repeat;

    font: 1.6rem Montserrat;
    line-height: 1.6;
    margin: 0;
}
.body_dark{

    transition: all .3s;

    background:#000000;

    background-image: url(../assets/WallpaperDog-248128.jpg);    
    background-size: cover;
    background-repeat: no-repeat;

    font: 1.6rem Montserrat;
    line-height: 1.6;
    margin: 0;
}

*{
    box-sizing: border-box; /* 100px largeur + 10px padding + 1px border */
}

:root {
    --red-color: rgb(221, 51, 42);
    --white-color: rgb(255,255,255);
    --black-color: rgb(0, 0, 0);
    --blue-color:  rgb(88,143,224);

  }
ol, ul,p,
button,
figure, 
blockquote, h1, h2, h3, address{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    font-style: normal;
}
input{outline: none;}
button{
    background: transparent;
    font-size: inherit;
    border: 0;
}
a{
    text-decoration: none;
    color: #222;
}
img{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}
.material-icons{
    vertical-align: .5rem;
    font-size: 3rem;
}


.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    background: white;border-radius: 100%;-webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  